{% extends 'base.html' %} 
{% load static %}
{% load course_tags %}

{% block content %}
<div class="container py-8 py-lg-11">
    <div class="row">
        <div class="col-xl-8 mx-xl-auto">
            <!-- Success Image -->
            <img src="{% static 'assets/img/success.png' %}" alt="Success" class="rounded-circle img-fluid mx-auto d-block" width="80px">

            <!-- Order Received Header -->
            <header class="entry-header mt-4">
                <h1 class="entry-title">Order Received</h1>
                <p class="text-center">Thank you. Your order has been received.</p>
            </header>

            <!-- Order Overview -->
            <div class="entry-content">
                <div class="woocommerce">
                    <div class="woocommerce-order">
                        <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">Thank you. Your order has been received.</p>

                        <!-- Order Details -->
                        <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">
                            <li class="woocommerce-order-overview__order order">
                                <strong>Order ID:</strong><br>
                                <strong>{{ payment.order_id }}</strong>
                            </li>

                            <li class="woocommerce-order-overview__date date">
                                <strong>Date:</strong><br>
                                <strong>{{ payment.date }}</strong>
                            </li>

                            <li class="woocommerce-order-overview__total total">
                                <strong>Total:</strong><br>
                                <strong>Rs. {{ payment.course.price }}</strong>
                            </li>

                            <li class="woocommerce-order-overview__payment-method method">
                                <strong>Payment method:</strong><br>
                                <strong>Check payments</strong>
                            </li>
                        </ul>

                        <!-- Order Details Table -->
                        <section class="woocommerce-order-details mt-5">
                            <h2 class="woocommerce-order-details__title">Order Details</h2>
                            <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">
                                <thead>
                                    <tr>
                                        <th class="woocommerce-table__product-name product-name">Course</th>
                                        <th class="woocommerce-table__product-total product-total">Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="woocommerce-table__line-item order_item">
                                        <td class="woocommerce-table__product-name product-name">
                                            <a href="#">{{ course.title }}</a>
                                            <strong class="product-quantity">× 1</strong>
                                        </td>

                                        <td class="woocommerce-table__product-total product-total">
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">Rs.</span>{{ course.price }}</span>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th scope="row">Subtotal:</th>
                                        <td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">Rs.</span>{{ course.price }}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Payment method:</th>
                                        <td>Online payments</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total:</th>
                                        <td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">Rs.</span>{{ course.price }}</span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
